html {
    font-size: 62.5%;
}

body {
    background-color: #131111!important;
}

#card-container .card {
    margin-right: 5rem;
    margin-top: 5rem;
}

nav {
    font-size: 3rem;
}

#accueil {
    margin-top: 15rem;
}

.introduction {
    margin-top: 5rem;
}

#mesprojets, #contact, #a-propos, #pagecontact {
    margin-top: 20rem;
}

#carouselaccueil {
    margin-top: 10rem;
}

#boutonprojets, #boutoncontact {
    padding : 1rem;
}

#boutonprojets a, #boutoncontact a, .boutonprojets{
    text-decoration: none;
    color: white;
}

#contact p {
  padding-top: 5rem;
}

footer {
    margin-top: 25rem;
}

#droits {
    margin-top: 5rem;
}

#onepiece {
    padding-top: 5rem;
}

#qui-suis-je, #competences {
    margin-top: 10rem;
    font-size: 2rem;
}

#pagereseaux a{
    font-size: 5rem;
    text-decoration: none;
    color: white;
}

.presentation {
    margin-top: 10rem;
}








.hovereffect, .hovereffectsuivre {
    width:100%;
    height:100%;
    float:left;
    overflow:hidden;
    position:relative;
    text-align:center;
    cursor:default;
}

.hovereffect .overlay, .hovereffectsuivre .overlay{
    width:100%;
    height:100%;
    position:absolute;
    overflow:hidden;
    top:0;
    left:0;
    opacity:0;
    background-color:rgba(0,0,0,0.5);
    -webkit-transition:all .4s ease-in-out;
    transition:all .4s ease-in-out
}

.hovereffect img, .hovereffectsuivre img {
    display:block;
    position:relative;
    -webkit-transition:all .4s linear;
    transition:all .4s linear;
}

.hovereffect h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:2.5rem;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-150px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:2rem;
}

.hovereffectsuivre h2 {
    text-transform:uppercase;
    color:#fff;
    text-align:center;
    position:relative;
    font-size:2.5rem;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(-100px);
    -ms-transform:translatey(-100px);
    transform:translatey(-150px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:2rem;
}

.hovereffect a{
    color:#fff;
    text-align:center;
    position:relative;
    font-size:2.5rem;
    background:rgba(0,0,0,0.6);
    -webkit-transform:translatey(700px);
    -ms-transform:translatey(700px);
    transform:translatey(700px);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    padding:1rem 1.5rem;
    font-family: 'Carter One', cursive!important;
}

.hovereffect a.info {
    text-decoration:none;
    display:inline-block;
    text-transform:uppercase;
    color:#fff;
    border:1px solid #fff;
    background-color:transparent;
    opacity:0;
    filter:alpha(opacity=0);
    -webkit-transition:all .2s ease-in-out;
    transition:all .2s ease-in-out;
    margin:50px 0 0;
    padding:7px 14px;
}

.hovereffect a.info:hover {
    box-shadow:0 0 5px #fff;
}

.hovereffect:hover img, .hovereffectsuivre:hover img {
    -ms-transform:scale(1.2);
    -webkit-transform:scale(1.2);
    transform:scale(1.2);
}

.hovereffect:hover .overlay, .hovereffectsuivre .overlay {
    opacity:1;
    filter:alpha(opacity=100);
}

.hovereffect:hover h2, .hovereffect:hover a.info {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(-10px);
    -webkit-transform:translatey(-10px);
    transform:translatey(-10px);
}

.hovereffectsuivre:hover h2 {
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(-10px);
    -webkit-transform:translatey(-10px);
    transform:translatey(80px);
}

.hovereffect:hover a{
    opacity:1;
    filter:alpha(opacity=100);
    -ms-transform:translatey(425px);
    -webkit-transform:translatey(425px);
    transform:translatey(425px);
}

.hovereffect:hover a.info {
    -webkit-transition-delay:.2s;
    transition-delay:.2s;
}