@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:wght@300;400;500;700;900&display=swap');

nav, h1, h2, h3 {
    font-family: 'Carter One', cursive!important;
}

body {
    font-family: 'Roboto', sans-serif;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #bd2130;
}

#presentation h1 {
    font-family: 'Carter One', cursive;
}

#pagecontact button, #pagecontact p {
    font-size: 2rem;
}

#contact {
    font-size: 2rem;
}

#boutonprojets, #boutoncontact, #boutonprojets button {
    font-weight: bold;
    font-size: 2rem;
}

.introduction {
    font-size: 2rem;
}

#a-propos .introduction  {
    font-size: 2rem;
}

footer nav {
    font-size: 2rem;
}

#droits {
    font-size: 2rem;
}

#reseaux a {
    font-size: 3rem;
    text-decoration: none;
    color: white;
}

#reseaux p {
    font-size: 2rem;
}

.card-text {
    font-size: 1.5rem;
}

#card-container .btn {
    font-size: 2rem;
}

#lachapelle p {
    font-size: 2rem;
}

#logiciels button{
    font-size: 2rem;
}