@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Roboto:wght@300;400;500;700;900&display=swap');

nav {
    font-family: 'Carter One', cursive;
}

.nav-link {
    color: white;
}

.nav-link:hover {
    color: #bd2130;
}